/Lab1/Sklep_2/nbproject/private/
/Lab1/Sklep_2/build/
/Lab1/Sklep_2/dist/
/Lab2/Sklep_2/build/
/Lab2/Sklep_2/dist/
/Lab2/Sklep_2/nbproject/private/
/Lab3/Sklep_3/nbproject/private/
/Lab3/Sklep_3/build/
/Lab3/Sklep_3/dist/
/Lab3 - Copy/Sklep_3/build/
/Lab3 - Copy/Sklep_3/dist
/Lab4/Sklep_4/nbproject/private/
/Lab4/Sklep_4/build/
/Lab4/Sklep_5/nbproject/private/
/Lab4/Sklep_5/build/
/Lab4/Sklep_5/dist/
/Lab4/Sklep_6/nbproject/private/
/Lab4/Sklep_6/build/
/Lab4/Sklep_6/dist/
/Lab4/Sklep_6_Ajax/nbproject/private/
/Lab4/Sklep_6_Ajax/build/
/Lab4/Sklep_7_Ajax/nbproject/private/